



/* TABLET */
/* Second-section */
@media screen and (max-width: 768px) {


    .col-container {

       flex-direction: column;
       align-items: center;

    }

}



/* MOBILE */

/* First-section */
@media screen and (max-width: 480px) {


    .card-container {

        flex-direction: column;
        align-items: center;
        

    }

}

/* Fifth-section */
@media screen and (max-width: 480px) {


    .about-us {

        flex-direction: column;
        
    }

}