header {
    background-color: #0084FD;
    
}

.container-header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

li {
    display: inline-block;
  
}

.logo {
    margin-top: 5px;
    
}

