header {
    background-color: #0084FD;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container-header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar ul > li {
    display: inline-block;
  
}


.first-section {
    height: 1200px;
    background-color: grey;
}

.big-card {
    height: 300px;
    width: calc(100%/3*2 - 30px);
    background-color: #B5DDFF;
}

.small-card {
    height: 300px;
    width: calc(100%/3 - 30px);
    background-color: red;
}

.card-container  {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
    

}
